
  table{
      margin: top 100px;
      width: 1000px;
  }
  
    .tarolo{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid gray;
        width: 1000px;
        background-color: lightgray;
    }
    th,td{
        text-align: center;
    }
    a{
        color:white;
    }
    a:hover{
         color: red;
    }

  
    